/* The Overlay (background) */
.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 1);
    overflow-x: hidden;
    opacity: 0;
    transition: 0.35s;
    visibility: hidden;
    transform: scale(0.75);
    display: table;

    &.open {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }

    .overlay-content {
        position: relative;
        width: 100%;
        text-align: center;
        margin-top: 30px;
        display: table-cell;
        vertical-align: middle;

        .nav--items {
          padding: 0;
          list-style: none;
          margin: 0;

          li {
            &.active a {
              border: 1px solid #414141;
            }
          }

          a {
            margin: 0 auto 20px;
            width: 300px;
            font-size: 2em;
            text-transform: uppercase;
            letter-spacing: 0.08em;
            word-spacing: 0.1em;
            padding: 15px 20px;
            color: #f1f1f1;
            text-decoration: none;
            display: block;
            transition: 0.3s;
            position: relative;

            &:hover, &:focus {
                color: #fff;
            }
          }
        }
    }
}

.overlay--logo {
  height: 70px;
  margin-bottom: 40px;
}

.overlay a {
    color: #818181;
}


/* Position the close button (top right corner) */
.overlay .nav-close-btn {
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 40px;
    z-index: 2;
}

@media screen and (max-width: 600px) {
    .overlay .overlay-content {
      text-align: left;
    }

    .overlay--logo {
      margin-left: 20px;
    }

    .overlay .overlay-content .nav--items {
      margin-left: 20px;
    }

    .overlay .overlay-content .nav--items a {
      font-size: 20px;
      margin-left: 0;
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.navbar--wrapper {
  background: #fff;
  color: #222;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  // border-bottom: 1px solid #e1e1e1

  .nav-open-btn {
    color: #222;
    float: right;
    font-size: 28px;
    line-height: 60px;
    z-index: 990;

    &:hover, &:focus {
      color: #222;
    }
  }

  .navbar--brand {
    float: left;
    font-size: 17px;
    letter-spacing: 0.05em;
    line-height: 60px;

    .navbar--logo {
      height: 35px;
      padding-right: 15px;

      &.logo-light {
        display: none;
      }
    }
  }

  &.transparent {
    background: transparent;
    color: #fff;

    .nav-open-btn {
      color: #fff;

      &:hover, &:focus {
        color: #fff;
      }
    }

    .navbar--brand .navbar--logo {
      &.logo-light {
        display: inline-block;
      }
      &.logo-dark {
        display: none;
      }
    }
  }
}
